<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
  

</head>
<body>
    <div class="container-fluid">
        <div class="col-md-12 hidden-xs">Admin Section</div>
        <div class="col-xs-12 col-md-3">
            <div class="col-xs-12 col-md-12">
            <img src="/images/logo.png" />
                </div>
            <div class="col-xs-12 col-md-12">
                <form role="form">
                    <div class="form-group-sm">
                        <input type="email" class="form-control input-sm" id="searchText" placeholder="Search text">
                    </div>
                    <div class="form-group-sm">
                        <label for="exampleInputEmail1">Brand</label>
                        <input type="email" class="form-control input-sm" id="exampleInputEmail1" placeholder="Enter email">
                    </div>
                    <div class="form-group-sm">
                        <label for="exampleInputEmail1">Models</label>
                        <input type="email" class="form-control input-sm" id="exampleInputEmail1" placeholder="Enter email">
                    </div>
                    <div class="form-group-sm">
                        <label for="exampleInputEmail1">Category</label>
                        <input type="email" class="form-control input-sm" id="exampleInputEmail1" placeholder="Enter email">
                    </div>
                    <div class="form-group-sm">

                        <label for="exampleInputEmail1">From</label>
                        <input type="email" class="form-control input-sm" id="exampleInputEmail1" placeholder="Year">


                        <label for="exampleInputEmail1">To</label>
                        <input type="email" class="form-control input-sm" id="exampleInputEmail1" placeholder="To">

                    </div>
                    <div class="form-group-sm">
                        <label for="exampleInputEmail1">Location</label>
                        <input type="email" class="form-control input-sm" id="exampleInputEmail1" placeholder="Enter email">
                    </div>
</form>
            </div>
            <div class="col-xs-12 col-md-12">
                <ul class="nav nav-pills nav-stacked">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">Profile</a></li>
                    <li><a href="#">Messages</a></li>
                </ul>
                </div>
            </div>
        <div class="col-xs-12 col-md-9">
           @RenderBody()
        </div>
        <div class="col-xs-12 col-md-12">
            
                <p>Footer</p>
                
        </div>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </div>
 
</body>
</html>
