@model List<CP.Data.Models.Item>
@{
    ViewBag.Title = "Sell";
    Layout = "~/Areas/Store/Views/Shared/_Layout.cshtml";
}
<section class="content-header">
    <h1>
        Invoice

    </h1>
    <ol class="breadcrumb">
        <li><a href="/Store/Dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Invoice</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">

    <div class='row'>
        <div class='col-md-12'>
            <div class='box box-info'>
                <div class='box-header'>
                    <h3 class='box-title'>Sell Parts <small>sell parts</small></h3>
                    <div class="pull-right box-tools">
                        <div class="btn-group">
                            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                Action <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="/Store/Item/"><i class="fa fa-search"></i>Find items</a></li>
                                
                            </ul>
                        </div>
                    </div>
                </div>
                <div class='box-body pad'>
                    @if (((List<CP.Data.Models.Item>)Model).Count == 0)
                    {

                        <div class="alert alert-info alert-dismissable">
                            <i class="fa fa-info"></i>
                            <p>No items has been selected. Please add parts to the cart from Find Parts screen.</p>
                        </div>

                    }
                    else
                    {
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-condensed table-hover">
                                    <thead>
                                        <tr>
                                            <th class="col-md-1 text-center">Actions</th>
                                            <th class="col-md-2 text-left">Part No</th>
                                            <th class="col-md-4 text-left">Name</th>
                                            <th class="col-md-2 text-center">Unit Price</th>
                                            <th class="col-md-1 text-center">Qty</th>
                                            <th class="col-md-2 text-center">Total</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (CP.Data.Models.Item item in (List<CP.Data.Models.Item>)Model)
                                        {
                                            <tr>
                                                <td><a class="col-md-4" href="javascript:void(0)" title="Delete"><i class="fa fa-trash-o"></i></a></td>
                                                <td>@item.PartNo</td>
                                                <td>@item.Name</td>
                                                <td>
                                                    <div class="input-group input-group-sm">
                                                        <input data-precision="2" data-thousands="," data-decimal="." id="@string.Format("QuotedPrice{0}",item.Id)" name="@string.Format("QuotedPrice{0}",item.Id)" type="text" class="form-control text-right number-mask" value="@string.Format("{0:0.00}",item.QuotedPrice)">

                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="input-group input-group-sm">
                                                        <input data-precision="0" id="@string.Format("Qty{0}",item.Id)" name="@string.Format("Qty{0}", item.Id)" type="text" class="form-control text-right qty-mask" value="1">
                                                    </div>
                                                </td>
                                                <td class="@string.Format("Total{0}",item.Id) text-right"></td>
                                            </tr>
                                        }

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-md-offset-8">
                                <div class='box box-solid bg-green margin-top15'>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <table class="table">
                                                
                                                <tr>
                                                    <th style="width:50%">Total</th>
                                                    <td class="total text-right"></td>
                                                </tr>

                                            </table>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button class="btn btn-default pull-right margin10">Submit payment</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>

    </div>

</section>
<script type="text/javascript" src="~/Scripts/screens/part.sell.js"></script>