<script type="text/javascript">
    $(document).ready(function () {
        $('#make').bindChildOnChange('/Item/GetMake/', '#model', true);
        $('#categories0').bindCascadingSelect('/Item/GetMake/', 'categories', 3);

    });
</script>
<div id="content-title">
    <span class="title-text">Edit Item - @ViewBag.Item.Name</span>
</div>
<form method="post" action="/Item/AddItem">
<table cellpadding="0" cellspacing="0" style="padding: 10px" class="form-content"
    width="100%">
    <tr>
        <td>
            <label>
                Name</label>
        </td>
        <td>
            <input type="text" name="name" id="name" value="@ViewBag.Item.Name" />
            <a href="/Item/Gallery/@ViewBag.Item.Id" style="float:right">Gallery</a>
        </td>
    </tr>
    <tr>
        <td>
            <label>
                Description</label>
        </td>
        <td>
            <textarea name="description" id="description" rows="15" cols="70">@ViewBag.Item.Description</textarea>
        </td>
    </tr>
    <tr>
        <td>
            <label>
                Category</label>
        </td>
        <td>
            <ul>
                <li>
                    <select name="categories" id="categories0">
                        <option value="-">-- Select --</option>
                        @foreach (var category in ViewBag.Categories)
                        {
                            <option value="@category.Id">@category.Name</option>
                        }
                    </select>
                </li>
            </ul>
        </td>
    </tr>
    <tr>
        <td>
            <label>
                Make</label>
        </td>
        <td>
            <select name="make" id="make">
                <option value="-">-- Select --</option>
                @foreach (var make in ViewBag.Makes)
                {
                    if (ViewBag.Item.Make != null)
                    {
                        if (ViewBag.Item.Make.Id.Equals(make.Id))
                        {
                    <option selected="selected" value="@make.Id">@make.Name</option>
                        }
                        else
                        {
                    <option value="@make.Id">@make.Name</option>
                        }
                    }
                    else
                    {
                    <option value="@make.Id">@make.Name</option>
                    }
                }
            </select>
        </td>
    </tr>
    <tr>
        <td>
            <label>
                Model</label>
        </td>
        <td>
            <select name="model" id="model" multiple="multiple">
                @if (ViewBag.Item.Models != null)
                {
                    foreach (var _model in ViewBag.Item.Models)
                    {
                    <option selected="selected" value="@_model.Id">@_model.Name</option>
                    }
                }
                @if (ViewBag.Models != null)
                {
                    foreach (var _model in ViewBag.Models)
                    {
                    <option value="@_model.Id">@_model.Name</option>
                    }
                }
            </select>
        </td>
    </tr>
    <tr>
        <td>
            <label>
                Year</label>
        </td>
        <td>
            <input type="text" name="year" id="year" />
        </td>
    </tr>
    <tr>
        <td>
            <label>
                Store related info</label>
        </td>
        <td>
            <textarea name="vendor-meta" rows="5" cols="70">@ViewBag.Item.VendorMeta</textarea>
        </td>
    </tr>
    <tr>
        <td>
        </td>
        <td>
            <input type="submit" value=" " class="btn-submit" />
        </td>
    </tr>
</table>
</form>
