@using AutoPP.Web.Controllers.Helpers
@using AutoPP.Web.Controllers.Util
@model AutoPP.Web.Controllers.Util.ItemView
<div class="colleft">
    <div style="background: url(/images/search-bg.jpg); font-family: Arial; font-weight: bold;
        font-size: 11px">
        <div style="width: 450px; display: block; float: left; position: relative;">
            @Html.Partial("_Search", Model)
        </div>
        <img src="/images/find-fast.png" style="float: left; width: 265px; margin-top: 10px" />
        <br style="clear: both">
    </div>
</div>
<div class="colright" style="height: 600px">
    <ul class="y-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/Vendor">Vendors</a></li>
        <li><a href="/Vendor">Part List</a></li>
        <li>About Us</li>
        <li>Contact Us</li>
    </ul>
    <div style="width: 125px; height: 32px; margin: 0px auto; margin-top: 20px;">
        <a href="">
            <img src="/images/vendor-signin.jpg" /></a>
    </div>
</div>
<div class="holder_content">
    <section class="group1">
        <h3>
            Results</h3>
        <div class="sortbar">
            Sort by: <a href="#" class="selected">Best match</a> <a href="#">Year</a> <a href="#">
                Random</a>
        </div>
        <div class="results">
            <ul style="border-collapse:collapse; border:0px; padding:0px;">
                <li style="height:100px; width:750px; border:1px solid #ccc; border-style:dashed; border-collapse:collapse; font-size:12px; ">
                    <div style="width:98px; display:inline-block;">
                    </div>
                    <div style="width:640px; display: inline-block;">
                        <div style="display:inline-block; width: 560px">TOYOTA STARLET 1.3 GT TURBO 89-95 FTE ENGINE WATER PUMP</div>
                        <div style="display:inline-block; width: 50px; margin-top:-1px"><a  href="#"><img src="/images/more-info.gif" /></a></div>
                        <div>WATER PUMP FOR TOYOTA
BRAND NEW WATER PUMP

HIGH QUALITY EXACT FIT REPLACEMENTS

CONSTRUCTED FROM HIGH QUALITY MATERIAL</div>
                    </div>
                </li>
                <li style="height:100px; width:750px; border:1px solid #ccc; border-style:dashed; border-collapse:collapse; font-size:12px;">
                    <div style="width:98px; display:inline-block;">
                    </div>
                    <div style="width:640px; display: inline-block;">
                        <div style="display:inline-block; width: 560px">TOYOTA STARLET 1.3 GT TURBO 89-95 FTE ENGINE WATER PUMP</div>
                        <div style="display:inline-block; width: 50px; margin-top:-1px"><a  href="#"><img src="/images/more-info.gif" /></a></div>
                        <div>WATER PUMP FOR TOYOTA
BRAND NEW WATER PUMP

HIGH QUALITY EXACT FIT REPLACEMENTS

CONSTRUCTED FROM HIGH QUALITY MATERIAL</div>
                    </div>
                </li>
            </ul>
            <ul>
                @{
                    int _index = 0;
                }
                @foreach (var p in Model.Items)
                {

                    if (_index % 2 == 0)
                    {
                    <li class="odd">
                        <img alt="@p.Name" src='@string.Format("Galleries/{0}/{1}", p.Gallery, p.Resource)' width="80" height="80" />
                        <div class="info">
                            <a href="/Search/Detail/@p.Id/@p.Name.Replace(' ', '-')">@p.Name</a>
                            <p>
                                <strong>Description</strong>: @p.Description</p>
                            <p>
                                <strong>Models</strong>:
                                @if (p.Models != null)
                                {
                                    foreach (var _model in p.Models)
                                    {
                                    @_model
                                    }
                                }
                            </p>
                            <p>
                                <strong>Year</strong>: @p.Year</p>
                        </div>
                        <div class="clear">
                        </div>
                    </li>
                                _index++;
                    }
                    else
                    {
                    <li class="even">
                        <img src='@string.Format("Galleries/{0}/{1}", p.Gallery, p.Resource)' width="80" height="80" />
                        <div class="info">
                            <a href="/Search/Detail/@p.Id/@p.Name.Replace(' ', '-')">@p.Name</a>
                            <p>
                                <strong>Description</strong>: @p.Description</p>
                            <p>
                                <strong>Models</strong>:
                                @if (p.Models != null)
                                {
                                    foreach (var _model in p.Models)
                                    {
                                    @_model
                                    }
                                }</p>
                            <p>
                                <strong>Year</strong>: @p.Year</p>
                        </div>
                        <div class="clear">
                        </div>
                    </li>
                                _index++;
                    }
                }
            </ul>
            @{Html.RenderPartial("Pagination", new PaginationInfo
      {
          PageUrl = Url.SetParameter("page", "!0"),
          CurrentPage = Model.Search.PageIndex,
          PageSize = Model.Search.PageSize,
          TotalItemCount = Model.TotalCount,
      });
            }
            @{
                string _pagin = Html.RepeatF(new[] { 5, 10, 20 }, ps =>
                {
                    if (ps == Model.Search.PageSize)
                    {
                        return "<span>" + ps + "</span>";
                    }
                    else
                    {
                        return "<a href=" + Url.SetParameters(new { pagesize = ps, page = 1 }) + "><" + ps + "</a>";
                    }
                }, () => { return "|"; });
            }
            <div class="pagesize">
                @Html.Raw(_pagin)
                items per page
            </div>
        </div>
        <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec molestie. Sed aliquam
            sem ut arcu. Phasellus sollicitudin. Vestibulum condimentum facilisis nulla. In
            hac habitasse platea dictumst. Nulla nonummy. Cras quis libero.</p>
        <article class="holder_gallery" style="border-left: 5px solid #FFCC33">
            <a class="photo_hover2" href="#">
                <img src="images/picture2.jpg" width="150" height="99" alt="picture1" /></a>
            <h2>
                Lorem ipsum</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec molestie. Sed aliquam
                sem ut arcu. Phasellus sollicitudin. Vestibulum condimentum facilisis nulla. In
                hac habitasse platea dictumst.
            </p>
            <span class="readmore"><a href="#">Read more..</a></span>
        </article>
        <article class="holder_gallery" style="border-left: 5px solid #374353">
            <a class="photo_hover2" href="#">
                <img src="images/picture2.jpg" width="150" height="99" alt="picture1" /></a>
            <h2>
                Lorem ipsum</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec molestie. Sed aliquam
                sem ut arcu. Phasellus sollicitudin. Vestibulum condimentum facilisis nulla. In
                hac habitasse platea dictumst.
            </p>
            <span class="readmore"><a href="#">Read more..</a></span>
        </article>
        <article class="holder_gallery" style="border-left: 5px solid #FFCC33">
            <a class="photo_hover2" href="#">
                <img src="images/picture2.jpg" width="150" height="99" alt="picture1" /></a>
            <h2>
                Lorem ipsum</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec molestie. Sed aliquam
                sem ut arcu. Phasellus sollicitudin. Vestibulum condimentum facilisis nulla. In
                hac habitasse platea dictumst.
            </p>
            <span class="readmore"><a href="#">Read more..</a></span>
        </article>
    </section>
</div>
